streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langgraph
langchain-core
python-dotenv
cassio
typing-extensions
beautifulsoup4
requests
sentence-transformers
tiktoken
numpy